<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#query" aria-controls="query" role="tab" data-toggle="tab">Query</a></li>
    <li role="presentation" class="active"><a href="#diff" aria-controls="diff" role="tab" data-toggle="tab">Diff</a>
    </li>
  </ul>

  <!--Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="query">
      <%= render :partial => 'query' %>
    </div>
    <div role="tabpanel" class="tab-pane active" id="diff"><%= render :partial => 'diff' %></div>
  </div>

</div>

<script>
    $(".stops-switch").bootstrapSwitch();
    $('.stops-switch').on('switchChange.bootstrapSwitch', function(event, state) {
        if (state) {
            showMarkers();
        } else {
            clearMarkers();
        }
    });
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
    $('.datepicker').prop('disabled', true);


    var line;
    var baseHeatmapPoints = [];
    var dow = undefined;
    var date = undefined;
    var time_begin = undefined;
    var time_end = undefined;
    var dow_diff = undefined;
    var date_diff = undefined;
    var time_begin_diff = undefined;
    var time_end_diff = undefined;
    var polylines = [];
    var positions = [];
    var stops = [];
    var bus_positions = [];

    function buildVariables() {
        if ($('#diff').hasClass('active')) {

            line = $("#line_diff").val();
            if (!$('#day_of_week-select_diff_base').prop('disabled') && $('#day_of_week-select_diff_base').val() != "")
                dow = $('#day_of_week-select_diff_base').val();
            if (!$('#date-selection_diff_base').prop('disabled') && $('#date-selection_diff_base').val() != "")
                date = $('#date-selection_diff_base').val();
            time_begin = $("#time_begin_diff_base").val();
            time_end = $("#time_end_diff_base").val();
            if (time_begin == 0 && time_end == 24) {
                time_begin = undefined;
                time_end = undefined;
            }

            if (!$('#day_of_week-select_diff').prop('disabled') && $('#day_of_week-select_diff').val() != "")
                dow_diff = $('#day_of_week-select_diff').val();
            if (!$('#date-selection_diff').prop('disabled') && $('#date-selection_diff').val() != "")
                date_diff = $('#date-selection_diff').val();
            time_begin_diff = $("#time_begin_diff").val();
            time_end_diff = $("#time_end_diff").val();
            if (time_begin_diff == 0 && time_end_diff == 24) {
                time_begin_diff = undefined;
                time_end_diff = undefined;
            }
        } else {
            dow_diff = undefined;
            date_diff = undefined;
            time_begin_diff = undefined;
            time_end_diff = undefined;
            if (line == null || line == "")
                line = $("#line").val();
            if (!$('#day_of_week-select').prop('disabled') && $('#day_of_week-select').val() != "")
                dow = $('#day_of_week-select').val();
            if (!$('#date-selection').prop('disabled') && $('#date-selection').val() != "")
                date = $('#date-selection').val();
            time_begin = $("#time_begin").val();
            time_end = $("#time_end").val();
            if (time_begin == 0 && time_end == 24) {
                time_begin = undefined;
                time_end = undefined;
            }
        }
    }

    function prepareMap(data) {
        positions = data.positions
        stops = data.stops
        bus_positions = data.data

        for (i = 0; i < polylines.length; i++) {
            polylines[i].setMap(null);
        }

        baseHeatmap.setMap(null);
        baseHeatmapPoints = [];
        polylines = [];
        deleteMarkers();
        clearPolylines();
    }

</script>
