<%= render :partial => 'scripts' %>

<div class="page-header">
  <h1><%= t '.title', :default => "Positions Heat Map" %></h1>
</div>

<%= render :partial => 'filter' %>

<div class="row">
  <div id="map-canvas" style="height: 500px; width: 100%"></div>
</div>

<script>

    $("form").submit(function (e) {
        e.preventDefault();
        buildVariables();
        var cinza = "#cacaca";
        var verde_claro = "#57ffac";
        var verde_escuro = "#00cd67";
        var vermelho_claro = "#ff5857"
        var vermelho_escuro = "#e10100"

        $.get('<%=with_line_stops_and_positions_api_v1_bus_positions_path%>', { line: line, dow: dow, date: date,
            time_end: time_end, time_begin: time_begin, diff: {dow: dow_diff, date: date_diff, time_end: time_end_diff,
                time_begin: time_begin_diff}, format: 'json'})
                .done(function (data) {
                    prepareMap(data);
                    config = data.config;

                    for (var i = 0; i < stops.length; i++) {
                        addMarker(new google.maps.LatLng(stops[i]['latitude'], stops[i]['longitude']));
                    }

                    if ($('#diff').hasClass('active')) {
                        for (var i = 0; i < bus_positions.length - 1; i++) {
                            var color = vermelho_escuro
                            var count = bus_positions[i][2];


                            if (count > config.positions_hm_range_4) {
                                color = verde_escuro
                            } else if (count >= config.positions_hm_range_3 && count <= config.positions_hm_range_4) {
                                color = verde_claro
                            } else if (count >= config.positions_hm_range_2 && count <= config.positions_hm_range_3){
                                color = cinza
                            } else if (count >= config.positions_hm_range_1 && count <= config.positions_hm_range_2) {
                                color = vermelho_claro
                            }

                            var fp = [new google.maps.LatLng(bus_positions[i][1], bus_positions[i][0]),
                                new google.maps.LatLng(bus_positions[i + 1][1], bus_positions[i + 1][0])]
                            var flightPath = new google.maps.Polyline({
                                path: fp,
                                strokeColor: color,
                                strokeOpacity: 1.0,
                                strokeWeight: 5
                            });
                            polylines.push(flightPath);
                            flightPath.setMap(map);
                            baseHeatmapPoints.push({location: new google.maps.LatLng(bus_positions[i][1],
                                    bus_positions[i][0]), weight: 1});
                        }
                        showPolylines();

                    } else {
                        for (var i = 0; i < positions.length; i++) {
                            addPolyline(positions[i]['latitude'], positions[i]['longitude']);
                        }
                        for (var i = 0; i < bus_positions.length; i++) {
                            baseHeatmapPoints.push({location: new google.maps.LatLng(bus_positions[i][1],
                                    bus_positions[i][0]), weight: 1});
                        }
                        showPolylines();
                        var pointArray = new google.maps.MVCArray(baseHeatmapPoints);

                        baseHeatmap = new google.maps.visualization.HeatmapLayer({
                            data: pointArray
                        });
                        baseHeatmap.setMap(map);
                    }

                    if ($('input[name="show_stops"]').bootstrapSwitch('state')) {
                        showMarkers(false);
                    } else {
                        clearMarkers();
                    }
                    line = null;
                });
    });

    window.onload = initializeHeatMap;

</script>
