<%= render :partial => 'scripts' %>

<div class="page-header">
  <h1><%= t '.title', :default => "Speed Heat Map" %></h1>
</div>


<%= render :partial => 'filter' %>

<div class="row">
  <div id="map-canvas" style="height: 500px; width: 100%"></div>
</div>


<script>
    $("form").submit(function (e) {
        e.preventDefault();
        buildVariables();
        $.get('<%=with_line_stops_positions_and_speed_avg_api_v1_bus_positions_path%>', {  line: line, dow: dow, date: date,
            time_end: time_end, time_begin: time_begin, diff: {dow: dow_diff, date: date_diff, time_end: time_end_diff,
                time_begin: time_begin_diff}, format: 'json'})
                .done(function (data) {

                    prepareMap(data);

                    for (var i = 0; i < stops.length; i++) {
                        addMarker(new google.maps.LatLng(stops[i]['latitude'], stops[i]['longitude']));
                    }

                    if (bus_positions.length == 0) {
                        alert("Cannot found any data by the filter parameters")
                    }
                    else {
                        for (var i = 0; i < bus_positions.length - 1; i++) {
                            var color = "#ff4d4d"
                            var speed = bus_positions[i][2];
                            if ($('#diff').hasClass('active')) {
                                //speed diff
                                if (speed > 20) {
                                    color = "#00cd00"
                                } else if (speed > 5 && speed < 20) {
                                    color = "#ffff4d"
                                } else if (speed > -5 && speed < 5)
                                    color = "#000000"
                                if (speed < -5 && speed > -20) {
                                    color = "#ffc04d"
                                }
                            }
                            else {
                                //actual speed
                                if (speed > 60) {
                                    color = "#00cd00"
                                } else if (speed > 30 && speed < 60) {
                                    color = "#ffff4d"
                                } else if (speed > 15 && speed < 30) {
                                    color = "#ffc04d"
                                }
                                else if (speed < 0) {
                                    color = "#000000"
                                }
                            }

                            var fp = [new google.maps.LatLng(bus_positions[i][1], bus_positions[i][0]),
                                new google.maps.LatLng(bus_positions[i + 1][1], bus_positions[i + 1][0])]
                            var flightPath = new google.maps.Polyline({
                                path: fp,
                                strokeColor: color,
                                strokeOpacity: 1.0,
                                strokeWeight: 5
                            });
                            polylines.push(flightPath);
                            flightPath.setMap(map);


                            baseHeatmapPoints.push({location: new google.maps.LatLng(bus_positions[i][1],
                                    bus_positions[i][0]), weight: 1});
                        }
                    }

                    showPolylines();

                    if ($('input[name="show_stops"]').bootstrapSwitch('state')) {
                        showMarkers(false);
                    } else {
                        clearMarkers();
                    }

                    line = null;
                });
    })
    ;

    window.onload = initializeHeatMap;

</script>